$primary: #3498db;
$theme: dark;

@mixin button($color) {
  padding: 10px 14px;
  background: $color;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @if $theme == dark {
    background: #222;
    color: white;
  }

  &__title {
    font-size: 20px;
  }

  &__description {
    font-size: 16px;
  }

  &__img {
    width: 20%;
  }
}

.btn {
  @include button($primary);
}